/Common/obj
/Common/bin
/Game/bin
/Game/obj
/Game/App_Data
/Game.Tests/obj
/Game.Tests/bin
/Prediccion/bin
/Prediccion/obj
/ResponseModel/Model
/ResponseModel/bin
/_ReSharper.PredictionsApp
/Querys/bin/Debug/Antlr3.Runtime.dll
/Querys/bin/Debug/Common.dll
/Querys/bin/Debug/Game.dll
/Querys/bin/Debug/Game.Tests.dll
/Querys/bin/Debug/Microsoft.Web.Infrastructure.dll
/Querys/bin/Debug/Newtonsoft.Json.dll
/Querys/bin/Debug/Prediccion.dll
/Querys/bin/Debug/Repository.dll
/Querys/bin/Debug/System.Net.Http.Formatting.dll
/Querys/bin/Debug/System.Web.Helpers.dll
/Querys/bin/Debug/System.Web.Http.dll
/Querys/bin/Debug/System.Web.Http.WebHost.dll
/Querys/bin/Debug/System.Web.Mvc.dll
/Querys/bin/Debug/System.Web.Optimization.dll
/Querys/bin/Debug/System.Web.Razor.dll
/Querys/bin/Debug/System.Web.WebPages.Deployment.dll
/Querys/bin/Debug/System.Web.WebPages.dll
/Querys/bin/Debug/System.Web.WebPages.Razor.dll
/Querys/bin/Debug/WebGrease.dll
/Querys/obj/Debug/Game.Tests.dll
/Repository/bin/Debug/EntityFramework.dll
/Repository/obj/Debug/TempPE/Model1.Context.cs.dll
/Repository/obj/Debug/TempPE/Model1.cs.dll
/Repository/obj/Debug/TempPE/PrediccionesSQL.Context.cs.dll
/Repository/obj/Debug/TempPE/PrediccionesSQL.cs.dll
/Repository/obj/Debug/TempPE/PrediccionesSQL.Designer.cs.dll
/SQL/bin/Debug/EntityFramework.dll
/SQL/bin/Debug/SQL.dll
/SQL/obj/Debug/SQL.dll
/SQL/obj/Debug/TempPE/Model1.Context.cs.dll
/SQL/obj/Debug/TempPE/Model1.cs.dll
/SQL/obj/Debug/TempPE/Model1.Designer.cs.dll
/SQL/obj/Debug/TempPE/Model2.Context.cs.dll
/SQL/obj/Debug/TempPE/Model2.cs.dll
/SQL/obj/Debug/TempPE/Model2.Designer.cs.dll
